{% extends 'user/layout/userMaster.html' %}
{% block title %}Home{% endblock %}
{% block css %}
{% endblock %}
{% block header %}
<header id="header">
    <div class="container align-items-center h-100 d-flex justify-content-center">
        <div>
            <div></div>
            <h1 class="row">Galaxy Offset</h1><br>
            <a href="#Home" class="btn-scroll text-center a1 ml-4">Learn more</a>
        </div>
    </div>
</header>
{% endblock %}
{% block main %}
<div class="d-flex justify-content-center container">
    <h1>
        hello
    </h1>
</div>
{% endblock %}
