{% extends 'user/layout/userMaster.html' %}
{% block title %}Order{% endblock %}

{% block css %}
form
{
position:relative;
}
.tasksInput
{
margin-right:150px;
}
label
{
vertical-align: top;
}

{% endblock %}

{% block header %}
{% endblock %}
{% block main %}
<div class="container">
    <div>
        <div class="row rounded mx-auto d-block d-flex justify-content-center">
            <button class="btn btn-secondary my-2 mr-1">Custom</button>
            <button class="btn btn-secondary my-2 ml-1">Package</button>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card border border-secondary">
                    <div class="card body mx-2 mt-4 mb-2">
                        {% for product in products %}
                        <a id="{{ product.prod_ID }}" class="card-header" style="font-size:5vw;color:black;"
                           href="{% url 'user-order' product.prod_ID  %}">
                            <h5 class="h5">{{ product.prod_ID }}. {{ product.prod_Name }}</h5></a>
                        <div class="dropdown-divider"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-8">
                <form>
                    <div class="card mx-2 my-2 border border-secondary">
                        <div class="my-2">
                            <div class="form-group">
                                <div class="form-group row mx-2">
                                    <label for="quantity"
                                           class="form-control-label font-weight-bold card-header col-4 ml-4 my-auto"
                                           style="background-color:#e3e4e6"><h5>Quantity : </h5></label>
                                    <input id="quantity" class="form-control col-5 mx-2 my-auto" type="number">
                                </div>
                            </div>
                            <br>

                            {% if sizesList %}
                            <div class="form-group">
                                <div class="form-group row mx-2">
                                    <label for="sizeList"
                                           class="form-control-label font-weight-bold card-header col-4 ml-4"
                                           style="background-color:#e3e4e6"><h5>Sizes : </h5></label>
                                    <div id="sizeList">
                                        {% for s in sizesList %}
                                        <input id="{{s}}" class="mx-2 my-auto" type="radio">
                                        <label for="{{s}}">{{s}}</label><br>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <br>

                            {% if ColorsList %}
                            <div class="form-group">
                                <div class="form-group row mx-2">
                                    <label for="ColorsList"
                                           class="form-control-label font-weight-bold card-header col-4 ml-4"
                                           style="background-color:#e3e4e6"><h5>Colors : </h5></label>
                                    <div id="ColorsList">
                                        {% for c in ColorsList %}
                                        <input id="{{c}}" class="mx-2 my-auto" type="radio">
                                        <label for="{{c}}">{{c}}</label><br>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <br>

                            {% if PaperChoiceProductsList %}
                            <div class="form-group">
                                <div class="form-group row mx-2">
                                    <label for="ColorsList"
                                           class="form-control-label font-weight-bold card-header col-4 ml-4"
                                           style="background-color:#e3e4e6"><h5>Paper Choice : </h5></label>
                                    <div id="PaperChoiceProductsList">
                                        {% for pc in PaperChoiceProductsList %}
                                        <input id="{{pc}}" class="mx-2 my-auto" type="radio">
                                        <label for="{{pc}}">{{pc}}</label><br>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <br>

                            {% if AqutousCoatingProductList %}
                            <div class="form-group">
                                <div class="form-group row mx-2">
                                    <label for="AqutousCoatingProductList"
                                           class="form-control-label font-weight-bold card-header col-4 ml-4"
                                           style="background-color:#e3e4e6"><h5>Aqutous Coating: </h5></label>
                                    <div id="AqutousCoatingProductList">
                                        {% for ac in PaperChoiceProductsList %}
                                        <input id="{{ac}}" class="mx-2 my-auto" type="radio">
                                        <label for="{{ac}}">{{ac}}</label><br>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <br>

                            {% if ShrinkWrappingProductsList %}
                            <div class="form-group">
                                <div class="form-group row mx-2">
                                    <label for="ShrinkWrappingProductsList"
                                           class="form-control-label font-weight-bold card-header col-4 ml-4"
                                           style="background-color:#e3e4e6"><h5>Shrink Wrapping : </h5></label>
                                    <div id="ShrinkWrappingProductsList">
                                        {% for sw in ShrinkWrappingProductsList %}
                                        <input id="{{sw}}" class="mx-2 my-auto" type="radio">
                                        <label for="{{sw}}">{{sw}}</label><br>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <br>

                            {% if FoldingOptionsProductsList %}
                            <div class="form-group">
                                <div class="form-group row mx-2">
                                    <label for="ShrinkWrappingProductsList"
                                           class="form-control-label font-weight-bold card-header col-4 ml-4"
                                           style="background-color:#e3e4e6"><h5>Folding Options : </h5></label>
                                    <div id="FoldingOptionsProductsList">
                                        {% for fo in FoldingOptionsProductsList %}
                                        <input id="{{fo}}" class="mx-2 my-auto" type="radio">
                                        <label for="{{fo}}">{{fo}}</label><br>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <br>

                            <div class="form-group">
                                <div class="form-group row mx-2">
                                    <label for="jobTitle"
                                           class="form-control-label font-weight-bold card-header col-4 ml-4 my-auto"
                                           style="background-color:#e3e4e6"><h5>Job Title : </h5></label>
                                    <input id="jobTitle" class="form-control col-5 mx-2 my-auto" type="text"
                                           placeholder="Name of the Company or Shop">
                                </div>
                            </div>
                            <br>

                            <div class="form-group">
                                <div class="form-group row mx-2">
                                    <label for="orderDetail"
                                           class="form-control-label font-weight-bold card-header col-4 ml-4"
                                           style="background-color:#e3e4e6"><h5>Order Description : </h5></label>
                                    <textarea id="orderDetail" rows="5" cols="45"
                                              class="form-control col-5 mx-2 my-auto"
                                              placeholder="Enter all the details about product ...">
                                            </textarea>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row rounded mx-auto d-block d-flex justify-content-center">
            <button class="btn btn-success my-2">Place Order</button>
        </div>
    </div>
</div>

{% endblock %}