<div class="col-8">
    <form method="POST" enctype="multipart/form-data">
        <input type="hidden" id="templateValue" name="templateValue" value=""/>
        {% csrf_token %}
        <div class="card mx-2 my-2 border border-secondary">
            <div class="my-2">
                <div class="form-group">
                    <div class="form-group row mx-2">
                        <label for="quantity"
                               class="form-control-label font-weight-bold card-header col-4 ml-4 my-auto"
                               style="background-color:#e3e4e6"><h5>Quantity : </h5></label>
                        <select id="dropdown" name="quantity" class="form-control col-5 mx-2 my-auto">
                            {% for i in loop_times %}
                            <option id="quantity" value="{{i}}">{{i}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                {% if sizesList %}
                <div class="form-group">
                    <div class="form-group row mx-2">
                        <label for="sizeList"
                               class="form-control-label font-weight-bold card-header col-4 ml-4"
                               style="background-color:#e3e4e6"><h5>Sizes : </h5></label>
                        <div id="sizeList">
                            {% for s in sizesList %}
                            <input id="{{s}}" class="mx-2 my-auto" type="radio" name="size" value="{{s}}"
                                   required="required">
                            <label for="{{s}}">{{s}}</label><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if ColorsList %}
                <div class="form-group">
                    <div class="form-group row mx-2">
                        <label for="ColorsList"
                               class="form-control-label font-weight-bold card-header col-4 ml-4"
                               style="background-color:#e3e4e6"><h5>Colors : </h5></label>
                        <div id="ColorsList">
                            {% for c in ColorsList %}
                            <input id="{{c}}" class="mx-2 my-auto" type="radio" name="Color" value="{{c}}"
                                   required="required">
                            <label for="{{c}}">{{c}}</label><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if PaperChoiceProductsList %}
                <div class="form-group">
                    <div class="form-group row mx-2">
                        <label for="ColorsList"
                               class="form-control-label font-weight-bold card-header col-4 ml-4"
                               style="background-color:#e3e4e6"><h5>Paper Choice : </h5></label>
                        <div id="PaperChoiceProductsList">
                            {% for pc in PaperChoiceProductsList %}
                            <input id="{{pc}}" class="mx-2 my-auto" type="radio" name="PaperChoice"
                                   required="required"
                                   value="{{pc}}">
                            <label for="{{pc}}">{{pc}}</label><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if AqutousCoatingProductList %}
                <div class="form-group">
                    <div class="form-group row mx-2">
                        <label for="AqutousCoatingProductList"
                               class="form-control-label font-weight-bold card-header col-4 ml-4"
                               style="background-color:#e3e4e6"><h5>Aqutous Coating: </h5></label>
                        <div id="AqutousCoatingProductList">
                            {% for ac in AqutousCoatingProductList %}
                            <input id="{{ac}}" class="mx-2 my-auto" type="radio" name="AqutousCoating"
                                   required="required"
                                   value="{{ac}}">
                            <label for="{{ac}}">{{ac}}</label><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if ShrinkWrappingProductsList %}
                <div class="form-group">
                    <div class="form-group row mx-2">
                        <label for="ShrinkWrappingProductsList"
                               class="form-control-label font-weight-bold card-header col-4 ml-4"
                               style="background-color:#e3e4e6"><h5>Shrink Wrapping : </h5></label>
                        <div id="ShrinkWrappingProductsList">
                            {% for sw in ShrinkWrappingProductsList %}
                            <input id="{{sw}}sw" class="mx-2 my-auto" type="radio" name="ShrinkWrapping"
                                   required="required"
                                   value="{{sw}}">
                            <label for="{{sw}}sw">{{sw}}</label><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if FoldingOptionsProductsList %}
                <div class="form-group">
                    <div class="form-group row mx-2">
                        <label for="ShrinkWrappingProductsList"
                               class="form-control-label font-weight-bold card-header col-4 ml-4"
                               style="background-color:#e3e4e6"><h5>Folding Options : </h5></label>
                        <div id="FoldingOptionsProductsList">
                            {% for fo in FoldingOptionsProductsList %}
                            <input id="{{fo}}" class="mx-2 my-auto" type="radio" name="FoldingOptions"
                                   required="required"
                                   value="{{fo}}">
                            <label for="{{fo}}">{{fo}}</label><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if NoOfMonthsProductsList %}
                <div class="form-group">
                    <div class="form-group row mx-2">
                        <label for="NoOfMonthsProductsList"
                               class="form-control-label font-weight-bold card-header col-4 ml-4"
                               style="background-color:#e3e4e6"><h5>No Of Months : </h5></label>
                        <div id="NoOfMonthsProductsList">
                            {% for NM in NoOfMonthsProductsList %}
                            <input id="{{NM}}" class="mx-2 my-auto" type="radio" name="NoOfMonths"
                                   required="required"
                                   value="{{NM}}">
                            <label for="{{NM}}">{{NM}}</label><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if BindingMethodProductsList %}
                <div class="form-group">
                    <div class="form-group row mx-2">
                        <label for="BindingMethodProductsList"
                               class="form-control-label font-weight-bold card-header col-4 ml-4"
                               style="background-color:#e3e4e6"><h5>Binding Method : </h5></label>
                        <div id="BindingMethodProductsList">
                            {% for BM in BindingMethodProductsList %}
                            <input id="{{BM}}" class="mx-2 my-auto" type="radio" name="BindingMethod"
                                   required="required"
                                   value="{{BM}}">
                            <label for="{{BM}}">{{BM}}</label><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if HoleDrillingProductsList %}
                <div class="form-group">
                    <div class="form-group row mx-2">
                        <label for="HoleDrillingProductsList"
                               class="form-control-label font-weight-bold card-header col-4 ml-4"
                               style="background-color:#e3e4e6"><h5>Hole Drilling : </h5></label>
                        <div id="HoleDrillingProductsList">
                            {% for HD in HoleDrillingProductsList %}
                            <input id="{{HD}}" class="mx-2 my-auto" type="radio" name="HoleDrilling"
                                   required="required"
                                   value="{{HD}}">
                            <label for="{{HD}}">{{HD}}</label><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}

                <div class="form-group">
                    <div class="form-group row mx-2">
                        <label for="jobTitle"
                               class="form-control-label font-weight-bold card-header col-4 ml-4 my-auto"
                               style="background-color:#e3e4e6"><h5>Job Title : </h5></label>
                        <input id="jobTitle" name="jobTitle" class="form-control col-5 mx-2 my-auto"
                               type="text" required
                               placeholder="Name of the Company or Shop">
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group row mx-2">
                        <label for="postalCode"
                               class="form-control-label font-weight-bold card-header col-4 ml-4 my-auto"
                               style="background-color:#e3e4e6"><h5>Postal Code : </h5></label>
                        <input id="postalCode" name="postalCode" class="form-control col-5 mx-2 my-auto"
                               type="text" required
                               placeholder="Name of the Company or Shop">
                    </div>
                </div>


                <div class="form-group">
                    <div class="form-group row mx-2">
                        <label for="orderDetail"
                               class="form-control-label font-weight-bold card-header col-4 ml-4"
                               style="background-color:#e3e4e6"><h5>Order Description : </h5></label>
                        <textarea id="orderDetail" rows="5" cols="45"
                                  class="form-control col-5 mx-2 my-auto" name="orderDetail"
                                  placeholder="Enter all the details about product ..." required>
                                            </textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group row mx-2">
                        <label for="address"
                               class="form-control-label font-weight-bold card-header col-4 ml-4"
                               style="background-color:#e3e4e6"><h5>Address : </h5></label>
                        <textarea id="address" rows="3" cols="40"
                                  class="form-control col-5 mx-2 my-auto" name="address"
                                  placeholder="Enter all the details about product ..." required>
                                            </textarea>
                    </div>
                </div>


                <div class="form-group">
                    <div class="form-group row mx-2">
                        <label for="state"
                               class="form-control-label font-weight-bold card-header col-4 ml-4 my-auto"
                               style="background-color:#e3e4e6"><h5>State : </h5></label>
                        <input id="state" class="form-control col-5 mx-2 my-auto" type="text" name="state"
                               placeholder="Name of the State" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group row mx-2">
                        <label for="city"
                               class="form-control-label font-weight-bold card-header col-4 ml-4 my-auto"
                               style="background-color:#e3e4e6"><h5>City : </h5></label>
                        <input id="city" class="form-control col-5 mx-2 my-auto" type="text" name="city"
                               placeholder="Name of the City" required>
                    </div>
                </div>


                <div class="form-group">
                    <div class="form-group row mx-2">
                        <label for="ImageTemplateProductsList"
                               class="form-control-label font-weight-bold card-header col-4 ml-4"
                               style="background-color:#e3e4e6"><h5>Image Template : </h5></label>
                        <div id="ImageTemplateProductsList" class="mx-2">
                            <input id="Upload" type="radio" name="ImageSelection"
                                   class="templateSelection"/> Upload an
                            Image
                            <div class="type">
                                <input type="file" name="image"
                                       class='btn btn-outline-secondary my-2 SelectedImage'>
                            </div>
                            <br>
                            <input type="radio" id="Select" name="ImageSelection" class="templateSelection"
                            /> Select
                            From Templates
                            <div class="type">
                                {% for IT in ImageTemplateProductsList %}
                                <input type="radio" name="image2" id="{{IT}}"
                                       value="{{IT}}" class="SelectedImage t"/>
                                <label for="{{IT}}">
                                    <img src="{{IT.url}}" style="width: 20vw;
                                                                             height: 20vw;
                                                                             padding: 2vw;"/>
                                </label>
                                <br>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row rounded mx-auto d-block d-flex justify-content-center">
            <button type="submit" class="btn btn-success my-2">Place Order</button>
        </div>
    </form>
</div>