{% extends 'Account/layout/authenticationMaster.html' %}
{% block title%}Login {% endblock %}
{% block cardMain %}
<div class="mb-4">
    <i class="feather icon-unlock auth-icon"></i>
</div>
<h3 class="mb-4">
    Login
</h3>

<span class="mb-0 text-muted">
                        Add your credentials
                    </span>

<br/>
<br/>

<form role="form" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="input-group mb-3">
        <input class="form-control" placeholder="Username" name="username">
    </div>

    <div class="input-group mb-4">
        <input type="password" class="form-control" placeholder="password" name="password">
    </div>

    <div class="form-group text-left">
        <div class="checkbox checkbox-fill d-inline">
            <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
            <label for="checkbox-fill-a1" class="cr"> Save Details</label>
        </div>
    </div>
    <button name="login" class="btn btn-primary shadow-2 mb-4">Login</button>

</form>

<p class="mb-0 text-muted">Don’t have an account? <a href="{% url 'user-register' %}">Signup</a></p>
<p class="mb-0 text-muted"><a href="{% url 'password_reset' %}">Forgot Password?</a></p>

<br/>
{% endblock %}