{% extends 'admin1/layout/master.html' %}
{% block title %}Packages {% endblock %}
{% block main %}
<h1>
    <center>
        Packages
    </center>
</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-10">

            <button type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#modal-primary">Add
                Packages
            </button>

            <div class="modal fade" id="modal-primary">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Packages</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body mt-2">
                            <form action="{% url 'admin-packages'%}" method="POST"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                <table border="1" class="table table-border border-secondary">
                                    <tr class="from-group">
                                        <th>Package Name:</th>
                                        <td><input type="text" class="mx-2 my-auto" name="packageName" id="packageName"
                                                   required></td>
                                    </tr>
                                    <tr class="from-group">
                                        <th>Product :</th>
                                        <td>
                                            <select class="mx-2 my-auto custom-select" name="productName" required
                                                    id="productName">
                                                <option value="">
                                                    ----------
                                                </option>
                                                {% for productName in product%}
                                                <option value="{{productName.prod_ID}}">
                                                    {{productName.prod_Name}}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="from-group">
                                        <th>Quantity :</th>
                                        <td><input type="number" class="mx-2 my-auto form-select" name="packageQuantity"
                                                   id="productQuantity"
                                                   required>
                                        </td>
                                    </tr>
                                    <tr class="from-group">
                                        <th>Package Price:</th>
                                        <td><input type="number" class="mx-2 my-auto form-select" name="packagePrice"
                                                   id="packagePrice"
                                                   required></td>
                                    </tr>

                                    <tr class="from-group">
                                        <th>
                                            Size :
                                        </th>
                                        <td>
                                            <select class="mx-2 my-auto custom-select" name="size" required
                                                    id="sizesList">
                                                <option value="">
                                                    ----------
                                                </option>
                                                {% for size in sizesList %}
                                                <option value="{{size.prod_size}}">
                                                    {{size.prod_size}}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="from-group">
                                        <th>
                                            Color :
                                        </th>
                                        <td>
                                            <select class="mx-2 my-auto custom-select" name="Color" required
                                                    id="ColorList">
                                                <option value="">
                                                    ----------
                                                </option>
                                                {% for color in ColorsList %}
                                                <option value="{{color.prod_color}}">
                                                    {{color.prod_color}}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="from-group">
                                        <th>
                                            Aqutous Coating :
                                        </th>
                                        <td>
                                            <select class="mx-2 my-auto custom-select" name="AqutousCoating"
                                                    id="AqutousCoatingList">
                                                <option value="">
                                                    ----------
                                                </option>
                                                {% for AqutousCoating in AqutousCoatingList %}
                                                <option value="{{AqutousCoating.aqutous_coating_type}}">
                                                    {{AqutousCoating.aqutous_coating_type}}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="from-group">
                                        <th>
                                            Paper Choice :
                                        </th>
                                        <td>
                                            <select class="mx-2 my-auto custom-select" name="PaperChoice"
                                                    id="PaperChoiceList">
                                                <option value="">
                                                    ----------
                                                </option>
                                                {% for PaperChoice in PaperChoiceList %}
                                                <option value="{{PaperChoice.paper_choices_name}}">
                                                    {{PaperChoice.paper_choices_name}}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="from-group">
                                        <th>
                                            Shrink Wrapping :
                                        </th>
                                        <td>
                                            <select class="mx-2 my-auto custom-select" name="ShrinkWrapping"
                                                    id="ShrinkWrappingList">
                                                <option value="">
                                                    ----------
                                                </option>
                                                {% for ShrinkWrapping in ShrinkWrappingList %}
                                                <option value="{{ShrinkWrapping.shrink_options}}">
                                                    {{ShrinkWrapping.shrink_options}}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="from-group">
                                        <th>
                                            Folding Options :
                                        </th>
                                        <td>
                                            <select class="mx-2 my-auto custom-select" name="FoldingOptions"
                                                    id="FoldingOptionsList">
                                                <option value="">
                                                    ----------
                                                </option>
                                                {% for FoldingOptions in FoldingOptionsList %}
                                                <option value="{{FoldingOptions.folding_options_type}}">
                                                    {{FoldingOptions.folding_options_type}}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="from-group">
                                        <th>
                                            No of Months :
                                        </th>
                                        <td>
                                            <select class="mx-2 my-auto custom-select" name="NoOfMonths"
                                                    id="NoOfMonthsList">
                                                <option value="">
                                                    ----------
                                                </option>
                                                {% for NoOfMonths in NoOfMonthsList %}
                                                <option value="{{NoOfMonths.months}}">
                                                    {{NoOfMonths.months}}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="from-group">
                                        <th>
                                            Hole Drilling :
                                        </th>
                                        <td>
                                            <select class="mx-2 my-auto custom-select" name="HoleDrilling"
                                                    id="HoleDrillingList">
                                                <option value="">
                                                    ----------
                                                </option>
                                                {% for HoleDrilling in HoleDrillingList %}
                                                <option value="{{HoleDrilling.hole}}">
                                                    {{HoleDrilling.hole}}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="from-group">
                                        <th>
                                            Binding Method :
                                        </th>
                                        <td>
                                            <select class="mx-2 my-auto custom-select" name="BindingMethod"
                                                    id="BindingMethodList">
                                                <option value="">
                                                    --------------------
                                                </option>
                                                {% for BindingMethod in BindingMethodList %}
                                                <option value="{{BindingMethod.binding_methods}}">
                                                    {{BindingMethod.binding_methods}}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                                <div class="modal-footer justify-content-right">
                                    <input type="Submit" name="Submit" value="Submit" class="btn btn-outline-success">
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

            {% if packages_show %}
            <div class="container-fluid ">
                <div class="row">
                    <div class="card mt-2 border border-secondary">
                        <div class="card-header">
                            <h3 class="card-title ">Packages Table</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <table class="table table-bordered border border-info">
                                <thead>
                                <tr>
                                    <th>Package Id</th>
                                    <th>Package Name</th>
                                    <th>Package Price</th>
                                    <th>Product Quantity</th>
                                    <th>Product ID</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody class="justify-content-center">
                                {% for x in packages_show %}
                                <tr>
                                    <td>{{x.package_ID}}</td>
                                    <td>{{x.package_Name}}</td>
                                    <td>{{x.package_Price}}</td>
                                    <td>{{x.quantity}}</td>
                                    <td>{{x.prod_ID}}</td>
                                    <td>
                                        <a href="{%url 'admin-packages-edit' x.package_ID%}"
                                           class="btn btn-outline-primary mt-2"><i
                                                class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <a href="{%url 'admin-packages-delete' x.package_ID%}"
                                           class="btn btn-outline-danger mt-2"><i
                                                class="fa fa-trash" aria-hidden="true"></i></a>
                                        <a href="{%url 'admin-packages-show1' x.package_ID%}"
                                           class="btn btn-outline-warning mt-2"><i
                                                class="fa fa-eye" aria-hidden="true"></i></a>
                                    </td>
                                </tr>

                                {% endfor %}

                                </tbody>
                            </table>

                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix ">
                            <ul class="pagination pagination-sm m-0 justify-content-center">
                                {% if packages_show.has_previous %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{packages_show.previous_page_number}}">
                                    Previous </a>
                                </li>
                                {% endif%}
                                {% for x in packages_show.paginator.page_range %}

                                {% if packages_show.number == x %}
                                <li class="page-item active"><a class="page-link" href="?page={{x}}">{{x}}</a></li>
                                {% else%}
                                <li class="page-item"><a class="page-link" href="?page={{x}}">{{x}}</a></li>
                                {% endif %}
                                {% endfor %}

                                {% if packages_show.has_next %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{packages_show.next_page_number}}">
                                    Next </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            {% endif %}

            {% if instance %}
            <form action="" method="POST"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <table border="1" class="table table-bordered border border-info">
                    <tr>
                        <th>
                            <label for="id_package_Name">Package Name:</label>
                        </th>
                        <td><input type="text" name="package_Name" class="mx-2 my-auto form-control"
                                   value="{{instance.package_Name}}" maxlength="30"
                                   required id="id_package_Name"></td>
                    </tr>

                    <tr>
                        <th>
                            <label for="id_package_Price">Package Price:</label>
                        </th>
                        <td><input type="number" name="package_Price" class="mx-2 my-auto form-control"
                                   value="{{instance.package_Price}}" required
                                   id="id_package_Price"></td>
                    </tr>

                    <tr>
                        <th>
                            <label for="id_package_Price">Quantity :</label>
                        </th>
                        <td><input type="number" name="quantity" class="mx-2 my-auto form-control"
                                   value="{{instance.quantity}}" required
                                   id="id_quantity"></td>
                    </tr>

                    <tr>
                        <th>
                            <label for="id_prod_ID">Product ID (FK):</label>
                        </th>
                        <td>
                            <select class="mx-2 my-auto custom-select" name="prod_ID" required id="id_prod_ID">
                                <option value="">---------</option>
                                <option value="{{instance.prod_ID.prod_Name}}" selected>{{instance.prod_ID.prod_Name}}</option>
                                {% for product in product_list %}
                                <option value="{{product.prod_ID.prod_Name}}">{{product.prod_Name}}</option>
                                {% endfor %}

                            </select>
                        </td>
                    </tr>

                    <tr class="from-group">
                        <th>
                            Size :
                        </th>
                        <td>
                            <select class="mx-2 my-auto custom-select" name="size" required
                                    id="sizesList{{instance.package_ID}}">
                                <option value="">
                                    ----------
                                </option>
                                {% if size %}
                                <option value="{{size}}" selected>
                                    {{size}}
                                </option>
                                {% endif %}
                                {% for size in sizesList %}
                                <option value="{{size.prod_size}}">
                                    {{size.prod_size}}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr class="from-group">
                        <th>
                            Color :
                        </th>
                        <td>
                            <select class="mx-2 my-auto custom-select" name="color" required
                                    id="ColorsList{{instance.package_ID}}">
                                <option value="">
                                    ----------
                                </option>
                                {% if color %}
                                <option value="{{color}}" selected>
                                    {{color}}
                                </option>
                                {% endif %}
                                {% for color in ColorsList %}
                                <option value="{{color.prod_color}}">
                                    {{color.prod_color}}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr class="from-group">
                        <th>
                            Aqutous_Coating :
                        </th>
                        <td>
                            <select class="mx-2 my-auto custom-select" name="aqutousCoating"
                                    id="AqutousCoating{{instance.package_ID}}">
                                <option value="">
                                    ----------
                                </option>
                                {% if aqutousCoating %}
                                <option value="{{aqutousCoating}}" selected>
                                    {{aqutousCoating}}
                                </option>
                                {% endif %}
                                {% for aqutousCoating in AqutousCoatingList %}
                                <option value="{{aqutousCoating.aqutous_coating_type}}">
                                    {{aqutousCoating.aqutous_coating_type}}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr class="from-group">
                        <th>
                            Paper_Choice :
                        </th>
                        <td>
                            <select class="mx-2 my-auto custom-select" name="paperChoice" required id="PaperChoiceList{{instance.package_ID}}">
                                <option value="">
                                    ----------
                                </option>
                                {% if paperChoice %}
                                <option value="{{paperChoice}}" selected>
                                    {{paperChoice}}
                                </option>
                                {% endif %}
                                {% for paperChoice in PaperChoiceList %}
                                <option value="{{paperChoice.paper_choices_name}}">
                                    {{paperChoice.paper_choices_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr class="from-group">
                        <th>
                            Shrink_Options :
                        </th>
                        <td>
                            <select class="mx-2 my-auto custom-select" name="shrinkWrapping"
                                    id="shrinkWrapping{{instance.package_ID}}">
                                {% if shrinkWrapping %}
                                <option value="{{shrinkWrapping}}" selected>
                                    {{shrinkWrapping}}
                                </option>
                                {% endif %}
                                <option value="">
                                    ----------
                                </option>
                                {% for shrinkWrapping in ShrinkWrappingList %}
                                <option value="{{shrinkWrapping.shrink_options}}">
                                    {{shrinkWrapping.shrink_options}}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr class="from-group">
                        <th>
                            Folding_Options :
                        </th>
                        <td>
                            <select class="mx-2 my-auto custom-select" name="foldingoptions"
                                    id="foldingoptions{{instance.package_ID}}">
                                {% if foldingoptions %}
                                <option value="{{foldingoptions}}" selected>
                                    {{foldingoptions}}
                                </option>
                                {% endif %}
                                <option value="">
                                    ----------
                                </option>
                                {% for foldingoptions in foldingoptionsList %}
                                <option value="{{foldingoptions.folding_options_type}}">
                                    {{foldingoptions.folding_options_type}}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr class="from-group">
                        <th>
                            No_Of_Months :
                        </th>
                        <td>
                            <select class="mx-2 my-auto custom-select" name="NoOfMonths"
                                    id="NoOfMonths{{instance.package_ID}}">
                                {% if NoOfMonth %}
                                <option value="{{NoOfMonth}}" selected>
                                    {{NoOfMonth}}
                                </option>
                                {% endif %}
                                <option value="">
                                    ----------
                                </option>
                                {% for NoOfMonth in NoOfMonthsList %}
                                <option value="{{NoOfMonth.months}}">
                                    {{NoOfMonth.months}}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr class="from-group">
                        <th>
                            Hole_Drilling :
                        </th>
                        <td>
                            <select class="mx-2 my-auto custom-select" name="HoleDrilling"
                                    id="HoleDrilling{{instance.package_ID}}">
                                {% if HoleDrilling %}
                                <option value="{{HoleDrilling}}" selected>
                                    {{HoleDrilling}}
                                </option>
                                {% endif %}
                                <option value="">
                                    ----------
                                </option>
                                {% for HoleDrilling in HoleDrillingList %}
                                <option value="{{HoleDrilling.hole}}">
                                    {{HoleDrilling.hole}}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr class="from-group">
                        <th>
                            Binding_Method :
                        </th>
                        <td>
                            <select class="mx-2 my-auto custom-select" name="BindingMethod"
                                    id="BindingMethod{{instance.package_ID}}">
                                {% if BindingMethods %}
                                <option value="{{BindingMethod}}" selected>
                                    {{BindingMethods}}
                                </option>
                                {% endif %}
                                <option value="">
                                    ----------
                                </option>
                                {% for BindingMethods in BindingMethodList %}
                                <option value="{{BindingMethods.binding_methods}}">
                                    {{BindingMethods.binding_methods}}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
                <div class="modal-footer justify-content-right">
                    <input type="Submit" name="Submit" value="Submit" class="btn btn-outline-success">
                </div>
            </form>
            {% endif %}

            {% if packages_show1 %}
            <div class="table-responsive-sm">
                <table class="table table-bordered">
                    <tr>
                        <th>Packages Id :</th>
                        <td>{{packages_show1.package_ID}}</td>
                    </tr>
                    <tr>
                        <th>Package Name</th>
                        <td>{{packages_show1.package_Name}}</td>
                    </tr>
                    <tr>
                        <th>Product Name</th>
                        <td>{{packages_show1.prod_ID.prod_Name}}</td>
                    </tr>
                    <tr>
                        <th>Attribute Values</th>
                        <td>{% for key,value in packages_show1.attribute_values.items %}
                            <div class="table-responsive-sm">
                                <table class="table">
                                    <tr class="col-12">
                                        <td class="text-uppercase label"><b>{{key}}</b></td>
                                        <td class="col-8">{{value}}</td>
                                    </tr>
                                </table>
                            </div>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Packages Price</th>
                        <td>{{packages_show1.package_Price}}/-</td>
                    </tr>
                </table>
            </div>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}