{% extends 'admin1/layout/master.html' %}
{% block title %}Template Image{% endblock %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-10">
            {% if templateImage_show %}
            <h1>
                <center>Template Image</center>
            </h1>
            <button type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#modal-primary">Add
                Image
            </button>
            <div class="modal fade" id="modal-primary">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Template Image</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body mt-2">
                            <form action="{% url 'admin-template-image'%}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <label>Image:</label>
                                <input type="file" name="temp_img" class="form-control w-50"><br>
                                <br>
                                <input type="Submit" name="Submit" value="Submit" class="btn btn-success w-50"><br>

                                <div class="modal-footer justify-content-between">
                                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

            <br>
            <div class="container-fluid ">
                <div class="row">
                    <div class="card mt-2 border border-secondary">
                        <div class="card-header">
                            <h3 class="card-title ">Template Image</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <table class="table table-bordered border border-info">
                                <thead>
                                <tr>
                                    <th>Template Id</th>
                                    <th>Template Image</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody class="justify-content-center">
                                {% for x in templateImage_show %}

                                <tr>
                                    <td>{{x.temp_id}}</td>
                                    <td><img src="{{x.temp_img.url}}" alt="{{x.temp_img}}" height="100" width="100">
                                    </td>
                                    <td><a href="/admin1/templateImage_edit/{{x.temp_id}} "
                                           class="btn btn-outline-primary mt-2"><i
                                            class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <a href="/admin1/templateImage_delete/{{x.temp_id}}"
                                           class="btn btn-outline-danger mt-2"><i
                                                class="fa fa-trash" aria-hidden="true"></i></a>
                                        <a href="/admin1/templateImage_show1/{{x.temp_id}}"
                                           class="btn btn-outline-warning mt-2"><i
                                                class="fa fa-eye" aria-hidden="true"></i></a>
                                    </td>
                                </tr>

                                {% endfor %}

                                </tbody>
                            </table>

                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix ">
                            <ul class="pagination pagination-sm m-0 justify-content-center">
                                {% if templateImage_show.has_previous %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{templateImage_show.has_previous_page_number}}">
                                    Previous </a>
                                </li>
                                {% endif%}
                                {% for x in templateImage_show.paginator.page_range %}

                                {% if gallary_show.number == x %}
                                <li class="page-item active"><a class="page-link" href="?page={{x}}">{{x}}</a></li>
                                {% else%}
                                <li class="page-item"><a class="page-link" href="?page={{x}}">{{x}}</a></li>
                                {% endif %}
                                {% endfor %}

                                {% if templateImage_show.has_next %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{templateImage_show.has_next_page_number}}">
                                    Next </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            {% endif %}

            {% if templateImage_edit %}
            {% for x in templateImage_edit %}
            <form action="/admin1/templateImage_edit/{{x.img_id}}" method="POST">
                {% csrf_token %}
                <label>Template Image :</label>
                <input type="text" name="temp_img" value="{{x.temp_img}}" class="form-control w-50"><br>

                <input type="Submit" name="Submit" value="Submit" class="btn btn-success w-50"><br>
            </form>
            {% endfor %}

            {% elif templateImage_show1 %}

            {% for x in templateImage_show1 %}
            <table class="table table-bordered">
                <center><h1> Image Details</h1></center>
                <tr>
                    <th class="col-3">Template ID :</th>
                    <td>{{x.temp_id}}</td>
                </tr>
            </table>
            <h3>Image</h3>
            <table class="card mt-2 border border-secondary">
                <tr>
                    <td class="d-flex justify-content-center"><img class="border border-secondary mx-4 my-2"
                                                                   src="{{x.temp_img.url}}" alt="{{x.temp_img}}"
                                                                   style="height: auto; width:auto;"/></td>
                </tr>

            </table>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}